{% load static %}
<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-address">
        <div class="footer-address__text">Сергели авторынок блок 6/4 маг №10</div>
        <div class="footer-address__text">
          <a href="mailto:zahidsz2005@mail.ru"> zahidsz2005@mail.ru </a>
        </div>
      </div>
      <div class="footer-number">
        <div class="footer-number__item">
          <a href="tel:+998973446409">+998 97 344-64-09</a>
        </div>
        <div class="footer-number__item">
          <a href="tel:+998909746940">+998 90 974-69-40</a>
        </div>
      </div>
      <div class="footer-info">
        <div> Официальный представитель компаний «Rossvik» и «REMA TIP-TOP» в Республике Узбекистан. </div>
      </div>
      <div class="footer-social">
        <div>
          <a href="#">
            <img src="{% static 'img/icons/twitter.svg' %}" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="{% static 'img/icons/utube.svg' %}" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="{% static 'img/icons/telegram.svg' %}" alt="">
          </a>
        </div>
        <div>
          <a href="{% url 'products_ru' %}">
            <img src="{% static 'img/icons/instagram.svg' %}" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="{% static 'img/icons/facebook.svg' %}" alt="">
          </a>
        </div>
      </div>
      <div class="footer-author"> Designed and Coded by <a href="https://220volt.studio" class="footer-author__link" target="_blank">220volt.studio</a></div>
    </div>
  </div>
</footer>