<!DOCTYPE html>
<html lang="ru">
{% load static %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="icon" href="{% static 'img/icons/favicon.svg' %}" type="image/x-icon">
    {% block head %}
    {% endblock %}
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-inner">
          <div class="header-logo">
            <a href="{% url 'products_ru' %}">
              <img src="{% static 'img/header/logo.svg' %}" alt="">
            </a>
          </div>
          <nav class="header-nav">
            {% if lang == 'ru' %}
              <ul class="header-nav__list">
                <li class="header-nav__item">
                  <a href="{% url 'products_ru' %}" class="header-nav__link">Главная</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'gallery_ru' %}" class="header-nav__link">Галерея</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'news_ru' %}" class="header-nav__link">Новости</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'study_ru' %}" class="header-nav__link">Обучение</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'about_ru' %}" class="header-nav__link">О нас</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'contacts_ru' %}" class="header-nav__link">Контакты</a>
                </li>
              </ul>
            {% elif lang == 'uz' %}
              <ul class="header-nav__list">
                <li class="header-nav__item">
                  <a href="{% url 'products_uz' %}" class="header-nav__link">Bosh sahifa</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'gallery_uz' %}" class="header-nav__link">Galereya</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'news_uz' %}" class="header-nav__link">Yangiliklar</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'study_uz' %}" class="header-nav__link">Ta‘lim</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'about_uz' %}" class="header-nav__link">Biz haqimizda</a>
                </li>
                <li class="header-nav__item">
                  <a href="{% url 'contacts_uz' %}" class="header-nav__link">Kontaktlar</a>
                </li>
              </ul>
            {% endif %}
          </nav>
          <div class="header-lang">
            {% if lang == 'ru' %}
              <a href="{% url 'contacts_ru' %}" class="active">ru</a>
              <a href="{% url 'contacts_uz' %}" class="">uz</a>
            {% elif lang == 'uz' %}
              <a href="{% url 'contacts_ru' %}" class="">ru</a>
              <a href="{% url 'contacts_uz' %}" class="active">uz</a>
            {% endif %}
          </div>
          <form class="header-form" method="GET"> {% csrf_token %}
            {% if lang == 'ru' %}
              <input type="text" name="search-ru" class="header-form__search" placeholder="Поиск...">
            {% elif lang == 'uz' %}
              <input type="text" name="search-uz" class="header-form__search" placeholder="Izlash...">
            {% endif %}
          </form>
          {% if lang == 'ru' %}
            <nav class="navigation">
              <button class="hamburger-menu">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
              </button>
              <div class="bg-cover"></div>
              <ul class="nav-list">
                <div class="nav-list__container">
                  <li class="nav-item">
                    <a href="{% url 'products_ru' %}" class="nav-link">Главная</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'gallery_ru' %}" class="nav-link">Галерея</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'news_ru' %}" class="nav-link">Новости</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'study_ru' %}" class="nav-link">Обучения</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'about_ru' %}" class="nav-link">О нас</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'contacts_ru' %}" class="nav-link">Контакты</a>
                  </li>
                  {% if lang == 'ru' %}
                    <div class="header-lang__burger">
                      <a href="{% url 'contacts_ru' %}" class="active">ru</a>
                      <a href="{% url 'contacts_uz' %}" class="">uz</a>
                    </div>
                  {% elif lang == 'uz' %}
                    <div class="header-lang__burger">
                      <a href="{% url 'contacts_ru' %}" class="">ru</a>
                      <a href="{% url 'contacts_uz' %}" class="active">uz</a>
                    </div>
                  {% endif %}
                </div>
              </ul>
            </nav>
          {% elif lang == 'uz' %}
            <nav class="navigation">
              <button class="hamburger-menu">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
              </button>
              <div class="bg-cover"></div>
              <ul class="nav-list">
                <div class="nav-list__container">
                  <li class="nav-item">
                    <a href="{% url 'products_uz' %}" class="nav-link">Bosh sahifa</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'gallery_uz' %}" class="nav-link">Galereya</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'news_uz' %}" class="nav-link">Yangiliklar</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'study_uz' %}" class="nav-link">Ta‘lim</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'about_uz' %}" class="nav-link">Biz haqimizda</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'contacts_uz' %}" class="nav-link">Kontaktlar</a>
                  </li>
                  {% if lang == 'ru' %}
                    <div class="header-lang__burger">
                      <a href="{% url 'contacts_ru' %}" class="active">ru</a>
                      <a href="{% url 'contacts_uz' %}" class="">uz</a>
                    </div>
                  {% elif lang == 'uz' %}
                    <div class="header-lang__burger">
                      <a href="{% url 'contacts_ru' %}" class="">ru</a>
                      <a href="{% url 'contacts_uz' %}" class="active">uz</a>
                    </div>
                  {% endif %}
                </div>
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </header>
    {% block body %}
    {% endblock %}
  </body>
</html>